<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        .main-page{
            background-image: url("coep.jpeg") ;
            background-color: aqua;
        }
    </style>
</head>

<body>
    <div class="main-page">
        <h1>Welcome to the Attendance System</h1>
        <ul>
            <li><a href="/register">Register New Student</a></li>
            <li><a href="/mark-attendance">Mark Attendance</a></li>
        </ul>
    </div>
    
</body>

</html>